@model WebSite.Models.ViewModels.User.ResetPasswordViewModel

@{
    ViewData["Title"] = "بازیابی کلکمه عبور";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="login-section">
    <div class="login-body">
        <div class="login-form forgot-password">
            <h1 class="login-title">بازیابی کلمه عبور</h1>

            <form asp-action="ResetPassword" asp-controller="Account">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <label asp-for="Password" class="login-lable">کلمه عبور :</label>
                    <input asp-for="Password" type="password" class="login-input" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="RePassword" class="login-lable" for="">تکرار کلمه عبور :</label>
                    <input asp-for="RePassword" type="password" class="login-input" />
                    <span asp-validation-for="RePassword" class="text-danger"></span>
                </div>
                <div >
                    <input type="hidden" asp-for="Token" class="login-input" />
                </div>
                <div >
                    <input type="hidden" asp-for="UserId" class="login-input" />
                </div>
                <input type="submit" value="بازیابی کلمه عبور" class="login-body-btn"/>
            </form>
        </div>
        <img src="~/medicalTheme/images/pass.jpg" alt="" class="login-img" />
    </div>
</section>