@page
@model WebSite.Areas.Admin.Pages.Roles.DeleteUserFromRoleModel
@{
    ViewData["Title"] = "Delete user from role";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">

    <div id="page-wrapper">
        <div class="container alert alert-danger mt-5">
            <form method="post">
                <input type="hidden" asp-for="User.Id" />
                <input type="hidden" asp-for="User.RoleName" />
                <h2>آیا از حذف کاربر از نقش @Model.User.RoleName "@Model.User.FullName" مطمئن هستید </h2>
                <p>
                    <input type="submit" value="حذف کن" class="btn btn-outline btn-danger" />
                    <a asp-page="/Roles/UsersInRole" asp-route-name="@Model.User.RoleName" class="btn btn-outline btn-info">انصراف</a>
                </p>
            </form>
        </div>

    </div>
</div>