
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="about-us">
        <h1 class="header-primary">تماس با ما</h1>

        <div class="contact-us-body">
            <div class="contact-us-body-form">
                <p>
                    جهت ارتباط با ما و ارسال نظرات و پیشنهادات خود می توانید از فرم
                    زیر استفاده نمایید.
                </p>
                <form action="">
                    <div>
                        <label class="lable-primary" for="">موضوع پیام</label>
                        <input class="input-primary" type="text" />
                    </div>
                    <div>
                        <label class="lable-primary" for="">پست الکترونیکی</label>
                        <input class="input-primary" type="text" />
                    </div>
                    <div>
                        <label class="lable-primary" for="">متن پیام</label>
                        <textarea class="textarea-primary"
                                  name=""
                                  id=""
                                  cols="30"
                                  rows="10"></textarea>
                    </div>
                    <button class="q-and-a-form-btn contact-us-body-form-btn">
                        ارسال پیام
                    </button>
                </form>
            </div>
            <div>
                <div class="title">
                    <div class="title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="link-icon">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                        </svg>
                    </div>
                    <p class="about-us-adress">
                        <span>آدرس دفتر مرکزی:</span>تهران، عباس آباد، خیابان
                        سهروردی،کوچه عشوری
                    </p>
                </div>
                <div class="title">
                    <div class="title-icon">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             fill="none"
                             viewBox="0 0 24 24"
                             stroke-width="1.5"
                             stroke="currentColor"
                             class="link-icon">
                            <path stroke-linecap="round"
                                  stroke-linejoin="round"
                                  d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                        </svg>
                    </div>
                    <p class="about-us-adress">
                        <span>شماره تماس:</span>09125552234 - 02155442222
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

